.hidden {
  display: none;
}

.login, .logout {
  text-align: center;
  padding: 15px;
}

.login button, .logout button {
  border-radius: 5px;
  border: 1px solid #666;
  background: white;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}